/.venv
/.env
/env
/venv
.env
.vscode/
.continue/
.gitignore
.python-version
*.toml
/pyproject.toml
/cr_process_automation/media
/cr_process_automation/cr_process_automation/Standard_Template
__pycache__/
/pw-browsers/
.env
Session_store_files/
*.dll
*.exe
*.log
logs/
/cr_process_automation/pw-browsers/
migrations/
uv.lock
pyproject.toml
*.sqlite3-shm
*.sqlite3-wal
docker-compose.yml
db_master_data/
db_replica_data/
