/.venv
/.env
/env
/venv
.env
.gitignore
.python-version
*.toml
/pyproject.toml
/cr_process_automation/media
/cr_process_automation/cr_process_automation/Standard_Template
__pycache__/
pw-browsers/
.env
Session_store_files/
*.dll
*.exe
